mat-card-subtitle{
    color: grey;
    font-size: 0.75rem;
}

article {
    display: flex;
    justify-content: space-between;
}

mat-card-title{
    font-size: 1rem;
}

mat-card {   
    width: calc(100% - 50px);   
    height: calc(100% - 50px); 
    box-shadow: 3px 3px 9px grey !important;
}

md-card-actions {
    flex: 1 1 auto;
    border-top: 1px solid lightgrey;
}

.mat-card-actions-align-end {
    border-top: 1px solid grey;
}

.subHead {
    color: grey;
    font-size: 0.80rem;
}

.example-card {
    max-width: 900px;
    margin-bottom: 50px;
    float: left;
}

.parent {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 2px;
    place-items: center;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .parent {
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 2px;
        place-items: center;
    }
}

